services:
  - type: web
    name: diin-backend
    env: node
    rootDir: backend
    buildCommand: npm ci
    startCommand: node server.js
    plan: free
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: PORT
        value: 10000
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: MONGO_URI
        sync: false
